<div class="main">
  <div class="form-container">
    <div class="image"></div>
    <div class="content">
      <div class="logo">
        <span class="logo-image"></span>
        <span class="card-text1">GIFT </span>
        <span class="card-text2">CARD</span>
      </div>
      <hr class="line" />
      <div class="login-text">
        <p class="text1"></p>
        <p class="text2"></p>
      </div>
      <form action="signup" class="form">
        <input type="email" class="login">
        <input type="password" class="password">
      </form>
      <div class="chechbox">
        <input type="checkbox" name="" id="">
        <label for="Remember me">Remember me</label>
      </div>
      <button class="button">login
      </button>
    </div>
  </div>
</div>
