<div class="main">
  <div class="form-container">
    <div class="image"></div>
    <div class="content">
      <div class="logo">
        <span class="logo-image"><img src="assets\images\Frame.png" alt=""></span>
        <span class="card-text1">GIFT </span>
        <span class="card-text2">CARD</span>
      </div>
      <hr class="line" />
      <div class="login-text">
        <p class="text1">Login to your Account</p>
        <p class="text2">Welcome back! please enter your detail</p>
      </div>
      <form action="signup" class="form">
        <input type="email" class="login" placeholder="Email">
        <input type="password" class="password" placeholder="Password">
      </form>
      <div class="chechbox">
        <input type="checkbox" name="" id="">
        <label for="Remember me">Remember me</label>
      </div>
      <button class="button">login
      </button>
    </div>
  </div>
</div>
